.header-display--combo {
  flex-direction: column;
}

.header-container {
  background-color: #f5f9ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  width: 1175px;
  height: 70px;
  border-radius: 20px;
  margin-left: 15px;
  margin-top: 20px;
}

.display-container {
  /* background-color: blue; */
  width: 100vw;
  height: 100vh;
}

.display-container--one {
  background-color: #f5f9ff;
  /* background-color: red; */
  height: 84vh;
  width: 1175px;
  margin-left: 15px;
  margin-top: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
    align-items: center; */
}

.table-display {
  background-color: white;
  width: 130vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header-contents {
  display: flex;
  /* background-color: red; */
  gap: 5px;
  align-items: center;
}

.profile-icon img {
  height: 40px;
  width: 40px;
  /* background-color: white; */
}

.header-text {
  color: #072c7c;
  margin-left: 20px;
}

.header-container {
  background-color: #f5f9ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  width: 1175px;
  height: 70px;
  border-radius: 20px;
  margin-left: 15px;
  margin-top: 20px;
}

.username-email--container {
  margin-right: 15px;
  /* background-color: red; */
  font-size: 14px;
}

.username-text {
  color: #072c7c;
}

.email-text {
  color: #0000003f;
}

.graph-display {
  display: flex;
}

.graph-display img {
  height: 400px;
  width: 550px;
}

table {
  /* border: 2px solid rgba(0, 0, 0, 0.333); */
  text-align: center;
  width: 40vh;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
}

h3 {
  color: #072c7c;
}

td {
  border-left: 3px solid #072c7c;
}

table,
thead,
td {
  border: 2px solid #072c7c;
  border-collapse: collapse;
}
